/* style.css */

body{
    padding-left: 8px;
    padding-right: 16px;
    font-family: 'Poppins';
}

h1, h2, h3 {
    font-family: 'Poppins';
    margin-bottom: 0;
}

.Title-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Title-page1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


.rounded-table {
    border-collapse: collapse;
    border-radius: 4px; /* Adjust the radius as needed */
    overflow: hidden; /* To hide the inner corners */
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: 500;
    font-size: 14px;
  }
td {
    font-size: 12px;
}

/* Button filter */
/* Style for the dropdown button */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #FFCC00;
    color: #7A0019;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 14px;
    min-width: 90px;
}

.icon {
    margin-left: 8px; /* Adds space between 'Filter' and the arrow */
    font-size: 14px; /* Adjust the size of the arrow */
    display: inline-block;
}

.dropdown-button:hover {
    background-color: #FFC107;
}

/* Style for the dropdown menu */
.dropdown-content {
    display: none; /* Initially hidden */
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5px;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show dropdown menu when .show class is applied */
.dropdown-content.show {
    display: block;
}
